<form [formGroup]="workdayForm" >
    <wa-workday-form-date (dateSelected)="onDateSelected($event)" [dueDate]="dueDate"></wa-workday-form-date>
    <wa-workday-form-tasks [workdayForm]="workdayForm" [tasks]="tasks"></wa-workday-form-tasks>
    <wa-workday-form-notes [notes]="notes"></wa-workday-form-notes>
</form>
    <!-- {{ workdayForm.value | json }} -->
     <div class="text-right">
     <button
      (click)="submit()"
      type="submit"
      class="btn btn-success btn-lg"
      [disabled]="workdayForm.invalid">
      Sauvegarder
     </button>
    </div>
