.list-group-item:hover {
    cursor: pointer;
    box-shadow: 0px 3px 3px 0px #cfcfcf;
   }

img{
    
  max-width: 100%;
  height: auto;
}

.leftNav{
  opacity: 0.2;
}

.nav-cover {
  position: relative;
}
.img-avatar {
 position: absolute;
 bottom: 20px;
 left: 20px;
 z-index: 1000;
}